﻿@{
    Layout = null;
}
<form id="frmNewCustomer">
    <input type="hidden" name="CreateBy" value="1" />
    <div class="card">
        <div class="card-header h4">
            @ViewBag.Title
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Name</label>
                <input type="text" name="Name" class="form-control col-9" placeholder="Name...." />
            </div>
            <div class="input-group">
                <label class="input-group-text col-3">Address</label>
                <textarea type="text" name="Address" class="form-control col-9" placeholder="Address...."></textarea>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Email</label>
                <input type="email" name="Email" class="form-control col-9" placeholder="Email...." />
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Password</label>
                <input type="text" name="Password" class="form-control col-9" placeholder="Password...." />
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Phone</label>
                <input type="text" name="Phone" class="form-control col-9" placeholder="Phone...." />
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text col-3">RoleId</label>
                <input type="text" name="RoleId" class="form-control col-9" placeholder="Phone...." />
            </div>
            <div class="card-footer text-end">
                <button class="btn btn-success" type="submit"><i class=""></i>Submit</button>
            </div>
        </div>
    </div>
</form>

<script>
    $("#frmNewCustomer").validate({
        errorClass: "text-danger col-12",
        rules: {
            Name: {
                "required": true,
                "minlength": 3
            },
            Address: "required"
        }
    });
    $("#frmNewCustomer").submit(function (e) {
        //disable form submit
        e.preventDefault();
        if ($("#frmNewCustomer").valid()) {
            //submit process if form is valid only
            $.ajax({
                url: "/Customers/Add",
                type: "post",
                data: $("#frmNewCustomer").serialize(),
                dataType: "json",
                beforeSend: function () {
                    //doing something before sending data...
                },
                success: function (response) {
                    console.log(response);
                    location.reload;
                },
                error: function (errResponse) {
                    console.error(response);
                    debugger;
                }
            });
        }
    });
</script>