﻿@using Xpos.ViewModels
@model VMTblMCustomer?
@{
    Layout = null;
}
<div class="card">
    <div class="card-header h4">
        @ViewBag.Title
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-2"><label>Name</label></div>
                <div class="col-10">@Model.Name</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Email</label></div>
                <div class="col-10">@Model.Email</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Password</label></div>
                <div class="col-10">@Model.Password</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Address</label></div>
                <div class="col-10">@Model.Address</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Phone</label></div>
                <div class="col-10">@Model.Phone</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Role Id</label></div>
                <div class="col-10">@Model.RoleId</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Create By</label></div>
                <div class="col-4">@Model.CreateBy</div>
                <div class="col-2"><label>Update By</label></div>
                <div class="col-4">@Model.UpdateBy</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Create Date</label></div>
                <div class="col-4">@Model.CreateDate</div>
                <div class="col-2"><label>Update Date</label></div>
                <div class="col-4">@Model.UpdateDate</div>
            </div>

        }
    </div>
</div>