﻿@using Xpos.ViewModels;
@model List<VMTblMCustomer>?
@{

}
<div class="h3">
    <i class="fas fa-ship"></i> @ViewBag.Title
    <button id="btn_create" class="btn rounded" data-bs-toggle="modal" data-bs-target="#my_modal" title="Add..."><span class="h4"><i class="fas fa-plus-square"></i></span></button>
</div>
<div class="row mb-3">
    <div class="input-group col">
        <span class="input-group-text"> show entries</span>
        <select name="PageSize">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
    </div>
    <div class="col-4">
        <form id="frmFilter" asp-controller="Customers" asp-action="Index">
            <div class="input-group">
                <label class="input-group-text">search</label>
                <input name="Filter" value="@ViewBag.Filter" class="form-control" />
                <button class="btn btn-outline-dark" title="Search..."><i class="fas fa-search"></i></button>
                <a asp-action="Index" class="btn btn-outline-dark" title="Reset..."><i class="fas fa-redo"></i></a>
            </div>
        </form>
    </div>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                @foreach(VMTblMCustomer item in Model)
                {                   
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Password</td>
                        <td>@item.Address</td>
                        <td>@item.Phone</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#my_modal"><i class="far fa-trash-alt"></i></button>
                                <button type="button" class="btn btn-warning" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#my_modal_lg"><i class="fas fa-tasks"></i></button>
                                <button type="button" class="btn btn-success" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#my_modal"><i class="far fa-edit"></i></button>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    $("#btn_create").click(function (e) {

        $("#modal_body").load("/Customers/Create/");
    });
    $(".btn-warning").click(function (e) {
        let catId = $(this).data("id");
        $("#modal_body_lg").load("/Customers/Details/" + catId);
    });
</script>

