﻿@{
    Layout = null;
}
<form id="frmNewCategory">
    <input type="hidden" name="CreateBy" value="1" />
    <div class="card">
        <div class="card-header h4">
            @ViewBag.Title
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Name</label>
                <input type="text" name="CategoryName" class="form-control col-9" placeholder="Category Name...." />
            </div>
            <div class="input-group">
                <label class="input-group-text col-3">Description</label>
                <textarea type="text" name="Description" class="form-control col-9" placeholder="Description...."></textarea>
            </div>
            <div class="card-footer text-end">
                <button class="btn btn-success" type="submit"><i class=""></i>Submit</button>
            </div>
        </div>
    </div>
</form>

<script>
    $("#frmNewCategory").validate({
        errorClass: "text-danger col-12",
        rules: {
            CategoryName: {
                "required": true,
                "minlength": 3
            },
            Description:"required"
        }
    });
    $("#frmNewCategory").submit(function (e) {
         //disable form submit
        e.preventDefault();
        if ($("#frmNewCategory").valid()){
            //submit process if form is valid only
            $.ajax({
                url:"/Categories/Add",
                type:"post",
                data: $("#frmNewCategory").serialize(),
                dataType: "json",
                beforeSend: function () {
                    //doing something before sending data...
                },
                success: function (response) { 
                    console.log(response);
                    location.reload();
                },
                error: function (errResponse) {
                    console.error(errResponse);
                    debugger;
                }
            });
        }
    });
</script>