﻿@using Xpos.ViewModels
@model VMTblMCategory?
@{
    Layout = null;
}

<form id="frmNewEdit">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="UpdateBy" value="2" />
    <div class="card">
        <div class="card-header h4">
            @ViewBag.Title
        </div>
        @if (Model != null)
        {
            <div class="card-body">
                <div class="input-group mb-3">
                    <label class="input-group-text col-3">Name</label>
                    <input type="text" name="CategoryName" class="form-control col-9" placeholder="Category Name...." value="@Model.CategoryName" />
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-3">Description</label>
                    <textarea type="text" name="Description" class="form-control col-9" placeholder="Description....">@Model.Description</textarea>
                </div>         
            </div>
        }
        else
        {
            <div class="card-body text-danger">
                <p>gada data</p>
            </div>
        }
        <div class="card-footer text-end">
            <button class="btn btn-success" type="submit"><i class=""></i>Submit</button>
        </div>
    </div>
</form>

<script>
    $("#frmNewEdit").validate({
        errorClass: "text-danger col-12",
        rules: {
            CategoryName: {
                "required": true,
                "minlength": 3
            },
            Description: "required"
        }
    });
    $("#frmNewEdit").submit(function (e) {
        //disable form submit
        e.preventDefault();
        if ($("#frmNewEdit").valid()) {
            //submit process if form is valid only
            $.ajax({
                url: "/Categories/Update",
                type: "post",
                data: $("#frmNewEdit").serialize(),
                dataType: "json",
                beforeSend: function () {
                    //doing something before sending data...
                },
                success: function (response) {
                    console.log(response);
                    location.reload();
                },
                error: function (errResponse) {
                    console.error(errResponse);
                    debugger;
                }
            });
        }
    });
</script>