﻿@using Xpos.ViewModels;
@{
    Layout = null;
}
<form id="frmNewVariant">
    <input type="hidden" name="CreateBy" value="1" />
    <div class="card">
        <div class="card-header h4">
            @ViewBag.Title
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Name</label>
                <input type="text" name="Name" class="form-control col-9" placeholder="Variant Name...." />
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Description</label>
                <textarea type="text" name="Description" class="form-control col-9" placeholder="Description...."></textarea>
            </div>
            <div class="input-group">
                <label class="input-group-text col-3">Category Name</label>
                <select name="CategoryId" class="form-select">
                    <option value="">--Please select a Category--</option>
                    @if (ViewBag.CatData != null)
                    {
                        @foreach(VMTblMCategory category in ViewBag.CatData)
                        {
                            <option value="@category.Id">@category.CategoryName</option>
                        }
                    }
                </select>
            </div>
            <div class="card-footer text-end">
                <button class="btn btn-success" type="submit"><i class=""></i>Submit</button>
            </div>
        </div>
    </div>
</form>

<script>
    $("#frmNewVariant").validate({
        errorClass: "text-danger col-12",
        rules: {
            Name: {
                "required": true,
                "minlength": 3
            },
            CategoryId: "required"
        }
    });
    $("#frmNewVariant").submit(function (e) {
        //disable form submit
        e.preventDefault();
        if ($("#frmNewVariant").valid()) {
            //submit process if form is valid only
            $.ajax({
                url: "/Variants/Add",
                type: "post",
                data: $("#frmNewVariant").serialize(),
                dataType: "json",
                beforeSend: function () {
                    //doing something before sending data...
                },
                success: function (response) {
                    console.log(response);
                    location.reload();
                },
                error: function (errResponse) {
                    console.error(errResponse);
                    debugger;
                }
            });
        }
    });
</script>