﻿@model int

@{
    Layout = null;
}
<form id="frmDeleteVariant">
    <input type="hidden" name="Id" value="@Model" />
    <input type="hidden" name="UpdateBy" value="3" />
    <div class="card">
        <div class="card-header h4">
            @ViewBag.Title
        </div>
        <div class="card-body">
            <i class="fas fa-exclamation-circle text-danger h3 align-content-end"></i>
            <span>Do you really want to Delete Variant with ID @Model ?</span>
            <div class="card-footer text-end">
                <button class="btn btn-danger" type="submit"><i class="fas fa-check"></i>Yes</button>
                &nbsp;
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i>No</button>
            </div>
        </div>
    </div>
</form>

<script>
    $("#frmDeleteVariant").submit(function (e) {
        //disable form submit
        e.preventDefault();
        if ($("#frmDeleteVariant").valid()) {
            //submit process if form is valid only
            $.ajax({
                url: "/Variants/Delete",
                type: "post",
                data: $("#frmDeleteVariant").serialize(),
                dataType: "json",
                beforeSend: function () {
                    //doing something before sending data...
                },
                success: function (response) {
                    console.log(response);
                    location.reload();
                },
                error: function (errResponse) {
                    console.error(errResponse);
                    debugger;
                }
            });
        }
    });
</script>