﻿@using Xpos.ViewModels
@model VMTblMVariant?
@{
    Layout = null;
}
<div class="card">
    <div class="card-header h4">
        @ViewBag.Title
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-2"><label>Name</label></div>
                <div class="col-10">@Model.CategoryName</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Description</label></div>
                <div class="col-10">@Model.Description</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Category Id</label></div>
                <div class="col-10">@Model.CategoryId</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Category Name</label></div>
                <div class="col-10">@Model.CategoryName</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Create By</label></div>
                <div class="col-4">@Model.CreateBy</div>
                <div class="col-2"><label>Update By</label></div>
                <div class="col-4">@Model.UpdateBy</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Create Date</label></div>
                <div class="col-4">@Model.CreateDate</div>
                <div class="col-2"><label>Update Date</label></div>
                <div class="col-4">@Model.UpdateDate</div>
            </div>

        }
    </div>
</div>