﻿@using Xpos.ViewModels
@model VMTblMVariant?
@{
    Layout = null;
}

<form id="frmNewEdit">
    <input type="hidden" name="Id" value="@Model.Id"/>
    <input type="hidden" name="UpdateBy" value="2" />
    <div class="card">
        <div class="card-header h4">
            @ViewBag.Title
        </div>
        @if (Model != null)
        {
            <div class="card-body">
                <div class="input-group mb-3">
                    <label class="input-group-text col-3">Name</label>
                    <input type="text" name="Name" class="form-control col-9" placeholder="Variant Name...." value="@Model.Name" />
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-3">Description</label>
                    <textarea type="text" name="Description" class="form-control col-9" placeholder="Description....">@Model.Description</textarea>
                </div>
                <div class="input-group">
                    <label class="input-group-text col-3">Category Name</label>
                    <select name="CategoryId" class="form-select" >
                        <option value="">--Please select a Category--</option>
                        @if (ViewBag.CatData != null)
                        {
                            @foreach (VMTblMCategory category in ViewBag.CatData)
                            {
                                @if (category.Id == Model.CategoryId)
                                {
                                    <option value="@category.Id" selected>@category.CategoryName</option>
                                }
                                else
                                {
                                    <option value="@category.Id">@category.CategoryName</option>
                                }
                            }
                        }               
                    </select>
                </div>              
            </div>
        }
        else
        {
            <div class="card-body text-danger">
                <p>gada data</p>
            </div>
        }
        <div class="card-footer text-end">
            <button class="btn btn-success" type="submit"><i class=""></i>Submit</button>
        </div>
    </div>
</form>

<script>
    $("#frmNewEdit").validate({
        errorClass: "text-danger col-12",
        rules: {
            Name: {
                "required": true,
                "minlength": 3
            },
            Description: "required"
        }
    });
    $("#frmNewEdit").submit(function (e) {
        //disable form submit
        e.preventDefault();
        if ($("#frmNewEdit").valid()) {
            //submit process if form is valid only
            $.ajax({
                url: "/Variants/Update",
                type: "post",
                data: $("#frmNewEdit").serialize(),
                dataType: "json",
                beforeSend: function () {
                    //doing something before sending data...
                },
                success: function (response) {
                    console.log(response);
                    location.reload();
                },
                error: function (errResponse) {
                    console.error(errResponse);
                    debugger;
                }
            });
        }
    });
</script>