﻿@using Xpos.ViewModels;
@{
    Layout = null;
}
<form id="frmNewProduct">
    <input type="hidden" name="CreateBy" value="1" />
    <div class="card">
        <div class="card-header h4">
            @ViewBag.Title
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Name</label>
                <input type="text" name="Name" class="form-control col-9" placeholder="Name...." />
            </div>    
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Category Name</label>
                <select id="categoryId" name="CategoryId" class="form-select" asp-items="ViewBag.Categories">
                   <option value="">--Please select a Category--</option>
                    @*
                    @if (ViewBag.CatData != null)
                    {
                        @foreach (VMTblMCategory category in ViewBag.CatData)
                        {
                            <option value="@category.Id">@category.CategoryName</option>
                        }
                    } *@
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Variant Name</label>
                <select id="variantId" name="VariantId" class="form-select">
                    <option value="">--Please select a Variant--</option>
             @*        @if (ViewBag.Variants != null)
                    {
                        @foreach (VMTblMVariant variant in ViewBag.Variants)
                        {
                            <option value="@variant.Id">@variant.Name</option>
                        }
                    } *@
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Price</label>
                <input type="number" name="Price" class="form-control col-9" placeholder="Price...." />
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Stock</label>
                <input type="number" name="Stock" class="form-control col-9" placeholder="Stock...." />
            </div>
            <div class="input-group">
                <label class="input-group-text col-3">Image</label>
                <input type="file" name="ImageFile" class="form-control col-9" placeholder="Image...." />
            </div>
            <div class="card-footer text-end">
                <button class="btn btn-success" type="submit"><i class=""></i>Submit</button>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function (e) {
        let optVariant = `<option value="">--Please select a Variant--</option>
    @if (ViewBag.Variants != null)
    {
        foreach (VMTblMVariant variant in ViewBag.Variants)
        {
             <option value="@variant.Id" data-categoryid="@variant.CategoryId">@variant.Name</option>
        }
    }`;

        $("#frmNewProduct").validate({
            errorClass: "text-danger col-12",
            rules: {
                Name: {
                    "required": true,
                    "minlength": 3
                },
                CategoryId: "required",
                VariantId: "required",
            }
        });

        $("#frmNewProduct").submit(function (e) {
            //disable form submit
            e.preventDefault();
            if ($("#frmNewProduct").valid()) {
                //submit process if form is valid only
                $.ajax({
                    url: "/Products/Add",
                    type: "post",
                    data: new FormData($("#frmNewProduct")[0]),
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        //doing something before sending data...
                    },
                    success: function (response) {
                        console.log(response);
                        location.reload();
                    },
                    error: function (errResponse) {
                        console.error(errResponse);
                        debugger;
                    }
                });
            }
        });

        $("#categoryId").change(function (e) {
            let catId = $(this).val();
            
            $("#variantId").empty().append(optVariant);
            $("#variantId option").hide()
                .filter(function () { return $(this).data("categoryid") == catId })
                .show();
        });

    });

</script>