﻿@using Xpos.ViewModels
@model VMTblMProduct?
@{
    Layout = null;
}
@* <div class="card">
    <div class="card-header h4">
        @ViewBag.Title
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-2"><label>Product Name</label></div>
                <div class="col-10">@Model.Name</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Variant</label></div>
                <div class="col-10">@Model.VariantName</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Category</label></div>
                <div class="col-10">@Model.CategoryName</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Image</label></div>
                <div class="col-10">
                    <img src="~/@ViewBag.ImgFolder/@(Model.Image??"image-empty.png")"
                         style="height: 3rem; object-fit:cover;" class="rounded img-fluid" />
                </div>
            </div>
            <div class="row">
                <div class="col-2"><label>Price</label></div>
                <div class="col-10">@Model.Price</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Stock</label></div>
                <div class="col-10">@Model.Stock</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Create By</label></div>
                <div class="col-4">@Model.CreateBy</div>
                <div class="col-2"><label>Update By</label></div>
                <div class="col-4">@Model.UpdateBy</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Create Date</label></div>
                <div class="col-4">@Model.CreateDate</div>
                <div class="col-2"><label>Update Date</label></div>
                <div class="col-4">@Model.UpdateDate</div>
            </div>

        }
    </div>
</div> *@

<div class="card">
        @if (Model != null)
        {
    <img src="~/@ViewBag.ImgFolder/@(Model.Image??"image-empty.png")" class="card-img-top" >
    <div class="card-body">
            <h5 class="card-title"> @ViewBag.Title</h5>
            <div class="row">
                <div class="col-2"><label>Product Name</label></div>
                <div class="col-10">@Model.Name</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Variant</label></div>
                <div class="col-10">@Model.VariantName</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Category</label></div>
                <div class="col-10">@Model.CategoryName</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Price</label></div>
                <div class="col-10">@Model.Price</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Stock</label></div>
                <div class="col-10">@Model.Stock</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Create By</label></div>
                <div class="col-4">@Model.CreateBy</div>
                <div class="col-2"><label>Update By</label></div>
                <div class="col-4">@Model.UpdateBy</div>
            </div>
            <div class="row">
                <div class="col-2"><label>Create Date</label></div>
                <div class="col-4">@Model.CreateDate</div>
                <div class="col-2"><label>Update Date</label></div>
                <div class="col-4">@Model.UpdateDate</div>
            </div>
    </div>
        }
</div>