﻿@using Xpos.ViewModels
@model VMTblMProduct?
@{
    Layout = null;
}

<form id="frmNewEdit">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="UpdateBy" value="2" />
    <input type="hidden" name="Image" value="@Model.Image"/>
    <div class="card">
        <div class="card-header h4">
            @ViewBag.Title
        </div>
        @if (Model != null)
        {
            <div class="card-body">
                <div class="input-group mb-3">
                    <label class="input-group-text col-3">Name</label>
                    <input type="text" name="Name" class="form-control col-9" placeholder="Variant Name...." value="@Model.Name" />
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-3">Category Name</label>
                    <select id="categoryId" name="CategoryId" class="form-select" asp-items="@ViewBag.CatData" asp-for="@Model.CategoryId">
                        <option value="">--Please select a Category--</option>
                     @*    @if (ViewBag.CatData != null)
                        {
                            @foreach (VMTblMCategory category in ViewBag.CatData)
                            {
                                @if (category.Id == Model.CategoryId)
                                {
                                    <option value="@category.Id" selected>@category.CategoryName</option>
                                }
                                else
                                {
                                    <option value="@category.Id">@category.CategoryName</option>
                                }
                            }
                        } *@
                    </select>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-3">Variant Name</label>
                    <select id="variantId" name="VariantId" class="form-select">
                        <option value="">--Please select a Variant--</option>                   
               @*          @if (ViewBag.VarData != null)
                        {
                            @foreach (VMTblMVariant variant in ViewBag.varData)
                            {
                                @if (variant.Id == Model.VariantId)
                                {
                                    <option value="@variant.Id" selected>@variant.Name</option>
                                }
                                else
                                {
                                    <option value="@variant.Id">@variant.Name</option>
                                }
                            }
                        } *@
                    </select>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-3">Price</label>
                    <input type="number" name="Price" class="form-control col-9" placeholder="Price...." value="@Model.Price"/>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text col-3">Stock</label>
                    <input type="number" name="Stock" class="form-control col-9" placeholder="Stock...." value="@Model.Stock"/>
                </div>
          @*       <div class="input-group">
                    <label class="input-group-text col-3">Image</label>
                    <input type="file" name="imageFile" class="form-control col-9" placeholder="Image...."/>
                </div> *@
                <div class="row mb-2" style="background-color: aqua">
                    <div class="col-3 m-2" style="background-color: white"><label style="background-color: white">New Image</label></div>

                    <div class="col-8 m-2" style="background-color: white"><input type="file" style="background-color: white" name="imageFile" placeholder="Edit Product Image ..."></div>
                </div>
            </div>
        }
        else
        {
            <div class="card-body text-danger">
                <p>gada data</p>
            </div>
        }
        <div class="card-footer text-end">
            <button class="btn btn-success" type="submit"><i class=""></i>Submit</button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function (e) {
        let optVariant = `<option value="">--Please select a Variant--</option>
    @if (ViewBag.VarData != null)
    {
        foreach (VMTblMVariant variant in ViewBag.VarData)
        {
            if (variant.Id == Model.VariantId)
            {
                                <option value="@variant.Id" data-categoryid="@variant.CategoryId" selected>@variant.Name</option>
            }
            else
            {
                                <option value="@variant.Id" data-categoryid="@variant.CategoryId" >@variant.Name</option>
            }
        }
    }
        `;
        function refreshVariants(optVariants, selectedCategory) {
            $("#variantId").empty().append(optVariant);
            $("#variantId option").hide()
                .filter(function () { return $(this).data("categoryid") == selectedCategory })
                .show();

            if (selectedCategory != @Model.CategoryId) {
                $("#variantId option").removeAttr("selected")
            }
        }
        refreshVariants(optVariant, @Model.CategoryId);

        $("#frmNewEdit").validate({
            errorClass: "text-danger col-12",
            rules: {
                Name: {
                    "required": true,
                    "minlength": 3
                },
                CategoryId: "required",
                VariantId: "required",
            }
        });
        $("#frmNewEdit").submit(function (e) {
            //disable form submit
            e.preventDefault();
            if ($("#frmNewEdit").valid()) {
                //submit process if form is valid only
                $.ajax({
                    url: "/Products/Update",
                    type: "post",
                    data: new FormData($("#frmNewEdit")[0]),
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        //doing something before sending data...
                    },
                    success: function (response) {
                        console.log(response);
                        location.reload();
                    },
                    error: function (errResponse) {
                        console.error(errResponse);
                        debugger;
                    }
                });
            }
        });
        $("#categoryId").change(function (e) {
            debugger;
            let catId = $(this).val();
            refreshVariants(optVariant, catId);
            // $("#variantId").val("");
        });
    });
</script>