﻿@using Xpos.ViewModels;
@model Pagination<VMTblMProduct>?
<div class="h3">
    <i class="fas fa-khanda"></i> @ViewBag.Title
    <button id="btn_create" class="btn rounded" data-bs-toggle="modal" data-bs-target="#my_modal" title="Add..."><span class="h4"><i class="fas fa-plus-circle"></i></span></button>
</div>
<div class="row mb-3">
    <div class="input-group col">
        <span class="input-group-text"> show entries</span>
        <select id="selPageSize" name="PageSize">
            @for(int i=5; i<20; i += 5)
            {
                if(ViewBag.PageSize == i)
                {
                    <option value="@i" selected>@i</option>
                }
                else
                {
                    <option value="@i">@i</option>
                }
            }
          
        </select>
    </div>
    <div class="col-4">
        <form id="frmFilter" asp-controller="Products" asp-action="Index">
            <div class="input-group">
                <label class="input-group-text">search</label>
                <input name="Filter" value="@ViewBag.Filter" class="form-control" />
                <button class="btn btn-outline-dark" title="Search..."><i class="fas fa-search"></i></button>
                <a asp-action="Index" class="btn btn-outline-dark" title="Reset..."><i class="fas fa-redo"></i></a>
            </div>
        </form>
    </div>
</div>
<div>
    <table class="table table-striped">
        <thead class="bg-dark text-white">
            <tr>
                <th class="col-1">
                    <a class="text-decoration-none" style="color:white" asp-controller="Products" asp-action="Index" asp-route-filter="@ViewBag.Filter"
                       asp-route-orderBy="@ViewBag.OrderId">ID</a>
                </th>
                <th class="col-2">
                    <a class="text-decoration-none" style="color:white" asp-controller="Products" asp-action="Index" asp-route-filter="@ViewBag.Filter"
                       asp-route-orderBy="@ViewBag.OrderName">Name</a>
                </th>
                <th class="col-2">
                    <a class="text-decoration-none" style="color:white" asp-controller="Products" asp-action="Index" asp-route-filter="@ViewBag.Filter"
                       asp-route-orderBy="@ViewBag.OrderVariant">Variant</a>
                </th>
                <th class="col-2">
                    <a class="text-decoration-none" style="color:white" asp-controller="Products" asp-action="Index" asp-route-filter="@ViewBag.Filter"
                       asp-route-orderBy="@ViewBag.OrderCategory">Category</a>
                </th>
                <th class="col-2">Image</th>
                <th class="col-1">
                    <a class="text-decoration-none" style="color:white" asp-controller="Products" asp-action="Index" asp-route-filter="@ViewBag.Filter"
                       asp-route-orderBy="@ViewBag.OrderPrice">Price</a>
                </th>
                <th class="col-1">
                    <a class="text-decoration-none" style="color:white" asp-controller="Products" asp-action="Index" asp-route-filter="@ViewBag.Filter"
                       asp-route-orderBy="@ViewBag.OrderStock">Stock</a>
                </th>
                <th class="col-1">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (VMTblMProduct item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.VariantName</td>
                        <td>@item.CategoryName</td>
                        <td>
                            <img src="~/@ViewBag.ImgFolder/@(item.Image??"image-empty.png")"
                            style="height: 3rem; object-fit:cover;" class="rounded img-fluid"/>
                        </td>
                        <td>@item.Price</td>
                        <td>@item.Stock</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#my_modal"><i class="far fa-trash-alt"></i></button>
                                <button type="button" class="btn btn-warning" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#my_modal_lg"><i class="fas fa-tasks"></i></button>
                                <button type="button" class="btn btn-success" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#my_modal"><i class="far fa-edit"></i></button>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="input-group w-25 mx-auto">
                        <a class="btn btn-secondary" title="Previous Page..."
                           asp-controller="Products" asp-action="Index"
                           asp-route-filter="@ViewBag.Filter"
                           asp-route-orderBy="@ViewBag.Order"
                           asp-route-currPageSize="@ViewBag.PageSize"
                           asp-route-pageNumber="@(Model.HasPreviousPage ? Model.PageIndex-1 : Model.PageIndex)">
                            <i class="fas fa-backward"></i>
                        </a>
                        <div class="input-group-text">@Model.PageIndex of @Model.TotalPages</div>
                        <a class="btn btn-secondary" title="Next Page..."
                           asp-controller="Products" asp-action="Index"
                           asp-route-filter="@ViewBag.Filter"
                           asp-route-currPageSize="@ViewBag.PageSize"
                           asp-route-orderBy="@ViewBag.Order"
                           asp-route-pageNumber="@(Model.HasNextPage ? Model.PageIndex + 1: Model.PageIndex)">
                           <i class="fas fa-forward"></i>
                       </a>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    $("#selPageSize").change(function (e) {
        location.replace("/Products/Index?filter=@ViewBag.Filter&orderBy=@ViewBag.Order&currPageSize="+$(this).val());
    });
    $("#btn_create").click(function (e) {

        $("#modal_body").load("/Products/Create/");
    });
    $(".btn-warning").click(function (e) {
        let catId = $(this).data("id");
        $("#modal_body_lg").load("/Products/Details/" + catId);
    });
    $(".btn-success").click(function (e) {
        let catId = $(this).data("id");
        $("#modal_body").load("/Products/Edit/" + catId);
    });
    $(".btn-danger").click(function (e) {
        let catId = $(this).data("id");
        $("#modal_body").load("/Products/Delete/" + catId);
    });
</script>

